layout {
    default_tab_template {
        pane size=1 borderless=true split_direction="vertical" {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="projects" {
        pane {
            cwd "/mnt/d/0.projects"
            command "fish"
        }
    }

    tab name="py" split_direction="vertical" {
        pane command="ipython3"
        pane command="htop"
    }

    tab name="0" {
        pane {
        }
    }
}
